@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(255, 66, 66);
  background: linear-gradient(
    90deg,
    rgba(255, 66, 66, 1) 0%,
    rgba(61, 0, 0, 1) 100%
  );
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading {
  color: #fff;
  font-size: 15rem;
  text-align: center;
  font-family: "Sofia Sans";
}
.sub-heading {
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-family: "Sofia sans";
}
article {
  width: 80%;
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Poppins";
}
.btn {
  cursor: pointer;
  margin: 0 0.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 5rem;
  text-transform: uppercase;
  transition: all 0.2s linear;
  font-family: "Poppins";
  border: 3px solid rgb(3, 91, 121);
}
.btn:hover {
  color: rgb(3, 91, 125);
  background-color: ;
}
.home {
  color: white;
  background-color: rgb(3, 91, 125);
}
.home:hover {
  color: rgb(3, 91, 125);
  background-color: aliceblue;
  border: 3px solid rgb(3, 91, 125);
}
.report:hover {
  background-color: rgb(3, 91, 125);
}

@media screen and (max-width: 430px) {
  .heading {
    font-size: 10rem;
  }
  .buttons {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
  }
}
